<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
      type="text/css"
    />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      type="text/css"
    />
    <!-- DataTables -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}"
      type="text/css"
    />
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>{% block title %}Dashboard{% endblock title %}</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-content">
        <div class="logo">
          <i class="bx bxl-flask"></i>
          <div class="logo-name">TEXT MINING</div>
        </div>
        <a id="btn-menu"><i class="bx bx-menu-alt-left"></i></a>
      </div>
      <ul class="nav-list">
        <li>
          <a href="{{ url_for('views.dashboard') }}">
            <i class="bx bxs-dashboard"></i>
            <span class="link-name">Dashboard</span>
          </a>
          <span class="tool-tip">Dashboard</span>
        </li>
        <li>
          <a href="{{ url_for('views.kamus') }}">
            <i class='bx bx-book-add' ></i>
            <span class="link-name">Kamus Data</span>
          </a>
          <span class="tool-tip">Kamus Data</span>
        </li>
        <li>
          <a href="{{ url_for('views.crawling') }}">
            <i class="bx bxs-file-doc"></i>
            <span class="link-name">Data Kuesioner</span>
          </a>
          <span class="tool-tip">Data Kuesioner</span>
        </li>
        <li>
          <a href="{{ url_for('views.preprocessing') }}">
            <i class="bx bx-analyse"></i>
            <span class="link-name">Preprocessing</span>
          </a>
          <span class="tool-tip">Preprocessing</span>
        </li>
        <li>
          <a href="{{ url_for('views.split') }}">
            <i class="bx bx-columns"></i>
            <span class="link-name">Splitting Data</span>
          </a>
          <span class="tool-tip">Splitting Data</span>
        </li>
        <li>
          <a href="{{ url_for('views.classification') }}">
            <i class='bx bx-cog'></i>
            <span class="link-name">Classification</span>
          </a>
          <span class="tool-tip">Classification</span>
        </li>
        <li>
          <a href="{{ url_for('views.visualization') }}">
            <i class='bx bx-bar-chart-alt-2'></i>
            <span class="link-name">Visualization</span>
          </a>
          <span class="tool-tip">Visualization</span>
        </li>
      </ul>
    </div>

    <main class="main">
      <div class="base-container">
        <div class="row">{% block content %} {% endblock content %}</div>
      </div>
    </main>

    <!-- Scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/bootstrap.min.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/moment-with-locales.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/chart.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/scripts.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/ajax.js') }}"
    ></script>
  </body>
</html>
