{% extends 'base.html' %} {% block title %}Dashboard{% endblock title %} {%
block content %}

<div class="container w-75 text-center">
  <h3>Klasifikasi Tingkat Kepuasan Pelanggan Sat & Sun : The Almeaty Service Menggunakan Metode <em>Naive Bayes</em></h3>
  <h4>19082010069 - Mariska Regina RahmaPutri</h4>
</div>
<hr />
<div class="col-12 col-lg-9 mb-4">
  <div class="row">
    <div class="col-6 col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="stats-icon blue">
                <i class='bx bxs-file-doc'></i>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Data Kuesioner</h5>
              <h4 class="text-dark" id="countDataCrawling">
                {{ data.data_crawling }}
              </h4>
            </div>
            <div class="d-flex justify-content-center">
              <a
                href="{{ url_for('views.crawling') }}"
                class="btn btn-outline-primary btn-sm"
                >Lihat Detail</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="stats-icon green">
                <i class="bx bx-analyse"></i>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Data <em>Preprocessing</em></h5>
              <h4 class="text-dark" id="countDataPreprocess">
                {{ data.data_preprocess }}
              </h4>
            </div>
            <div class="d-flex justify-content-center">
              <a
                href="{{ url_for('views.preprocessing') }}"
                class="btn btn-outline-primary btn-sm"
                >Lihat Detail</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="stats-icon red">
                <i class="bx bx-purchase-tag"></i>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Data ber<em>label</em></h5>
              <h4 class="text-dark" id="countDataLabel">
                {{ data.data_berlabel }}
              </h4>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a
              href="{{ url_for('views.labeling') }}"
              class="btn btn-outline-primary btn-sm"
              >Lihat Detail</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-4">
      <div class="card">
        <div class="card-body">
          <p id="countDataTrain" hidden>{{ data.data_train }}</p>
          <p id="countDataTest" hidden>{{ data.data_test }}</p>
          <p id="countDataSlangword" hidden>{{ data.data_slangword }}</p>
          <p id="countDataStopword" hidden>{{ data.data_stopword }}</p>
          <h4 class="card-title text-center">Chart Data</h4>
          <canvas id="myChart" height="100"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 col-lg-3">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Chart Pembagian Data</h4>
        <canvas id="chart-split-data"></canvas>
        {% if (data.data_train and data.data_test) %}
        <p class="text-center">Uji : Latih <br />
          {{ "%.2f"|format(data.data_train / (data.data_train + data.data_test) * 100) }} % : {{
          "%.2f"|format(data.data_test / (data.data_train + data.data_test) * 100) }} %
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card mt-4">
      <div class="card-body">
        <div class="vstack gap-2 mx-auto">
          <a
            href="{{ url_for('views.split') }}"
            class="btn btn-outline-primary btn-sm"
            >Buat Pembagian Data</a
          >
          <a
            href="{{ url_for('views.classification') }}"
            class="btn btn-outline-primary btn-sm"
            >Buat Klasifikasi Data</a
          >
          <a href="#" class="btn btn-outline-primary btn-sm"
            >Buat Visualisasi Data</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
