{% extends 'base.html' %}
{% block title %}Labeling{% endblock title %}
{% block content %}

<div class="col-md-12 col-sm-12">
  <div class="bs-callout bs-callout-primary mt-0">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <div class="d-inline-flex">
          <h3>Labeling Data</h3>
        </div>
        <p class="text-muted">
          Memberikan kelas atau <em>label</em> untuk setiap data
        </p>
      </div>
      <div class="col-md-4 offset-md-2">
        <p class="text-muted mb-0">
          <label class="btn btn-success rounded disabled btn-sm w-25 mb-1"
            >POSITIF</label
          ><small class="ml-3"> Setuju / Mendukung / Menerima</small>
        </p>
        <p class="text-muted mb-0">
          <label class="btn btn-danger rounded disabled btn-sm w-25 mb-1"
            >NEGATIF</label
          ><small class="ml-3"> Menyangkal / Menolak / Menampik</small>
        </p>
        <!-- <p class="text-muted mb-0"><label class="btn btn-secondary rounded disabled btn-sm w-25 mb-1">NETRAL</label><small class="ml-3">Netral / Tidak Berpihak</small></p> -->
      </div>
    </div>
  </div>

  {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="col-md-12">
    <div class="d-flex flex-row mb-3">
      <button type="button" class="btn btn-success mx-1" data-bs-toggle="modal" data-bs-target="#modalLabeling"><i class="bx bx-purchase-tag"></i> <em>Labeling</em> Manual</button>
    <button type="button" class="btn btn-danger mx-1 ms-auto" data-bs-toggle="modal" data-bs-target="#modalHapusDataLabeling"><i class='bx bx-trash'></i> Hapus Data Labeling</button>
    </div>
  </div>

  <!-- Modal Labeling -->
  <div class="modal fade" tabindex="-1" id="modalLabeling">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Labeling Manual</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body px-5">
          <div class="table-responsive-sm">
            <table
              class="table table-bordered table-striped w-100"
              id="table_dataNoLabel"
            >
              <thead>
                <tr>
                  <th>No.</th>
                  <th class="text-center">Tweet</th>
                  <th class="text-center">Label</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Teks Bersih -->
  <div class="modal fade" tabindex="-1" id="modalLihatCleanTextLabeling">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detail Tweet</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body mx-3">
          <h6 class="mb-2">Tweet Asli:</h6>
          <p id="tweetAsliLabeling"></p>
          <hr />
          <h6 class="mb-2">Tweet Bersih:</h6>
          <p id="tweetBersihLabeling"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive-sm">
    <table
      class="table table-bordered table-striped w-100"
      id="table_dataWithLabel"
    >
      <thead class="w-100">
        <tr>
          <th width="5%" class="text-center">No.</th>
          <th width="15%" class="text-center">ID</th>
          <th width="35%" class="text-center">Teks</th>
          <th width="15%" class="text-center">Pengguna</th>
          <th width="15%" class="text-center">Dibuat pada</th>
          <th width="15%" class="text-center">Label</th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- Modal Tweet Asli -->
  <div class="modal fade" tabindex="-1" id="modalLihatTweetAsli">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detail Tweet</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body mx-3">
          <h6 class="mb-2">Tweet Asli:</h6>
          <p id="tweetAsli"></p>
          <hr />
          <h6 class="mb-2">Tweet Bersih:</h6>
          <p id="tweetBersih"></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Hapus semua data Label -->
  <div class="modal fade" tabindex="-1" id="modalHapusDataLabeling">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Hapus Data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mx-3">
          <p class="my-2">Apakah Anda yakin ingin menghapus seluruh data Labeling?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
          <form action="/labeling/hapus-all" method="POST">
            <button type="submit" class="btn btn-danger">Hapus</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
