{% extends 'base.html' %}
{% block title %}Preprocessing Data{% endblock title%}
{% block content %}

<div class="col-md-12 col-sm-12" id="content-preprocessing">
  <div class="bs-callout bs-callout-primary mt-0">
    <div class="d-inline-flex">
      <h3>Preprocessing Data</h3>
    </div>
    <p class="text-muted">Mengolah data hasil Pengumpulan Data</p>
  </div>

  <div class="col-md-6 offset-md-3 col-sm-12 text-center mb-3">
  </div>

  <div class="d-flex flex-row mb-3">
    <button type="button" class="btn btn-success mx-1" data-bs-toggle="modal" data-bs-target="#modalPreprocessing"><i class="bx bx-analyse"></i> <em>Preprocessing</em> Data</button>
    <button type="button" class="btn btn-danger mx-1 ms-auto" data-bs-toggle="modal" data-bs-target="#modalHapusDataPreprocessing"><i class='bx bx-trash'></i> Hapus Data Preprocessing</button>
  </div>

  <!-- Modal Preprocessing -->
  <div class="modal fade" tabindex="-1" id="modalPreprocessing">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Preprocessing Data</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body px-5">
          <label class="text-muted d-inline-flex align-items-center mb-0"
            >Sebanyak
            <h4 class="text-info mx-2 mb-0" id="jumlah_dataCrawling">
              {{ count_data_crawling }}
            </h4>
            data (<em>crawling</em>) akan diproses</label
          >
          <br />
          <small class="text-info d-none fadeIn" id="validasi_preprocessing">
            <i class="fa fa-info-circle"></i> Silakan lakukan proses
            '<em>Crawling</em>' terlebih dahulu
          </small>
        </div>
        <div class="modal-footer">
          <form>
            <input
              type="hidden"
              name="aksi"
              value="preprocessing"
              required
              readonly
            />
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Tutup
            </button>
            <button
              type="button"
              id="preprocessing_data"
              class="btn btn-primary"
            >
              Mulai
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive-sm">
    <table
      class="table table-bordered table-striped w-100"
      id="table_dataPreprocessing"
    >
      <thead class="w-100">
        <tr>
          <th width="5%" class="text-center">No.</th>
          <th class="text-center">Clean A1</th>
          <th class="text-center">Clean A2</th>
          <th class="text-center">Clean A3</th>
          <th class="text-center">Clean A4</th>
          <th class="text-center">Clean A5</th>
          <th width="5%" class="text-center">Pengguna</th>
          <th width="15%" class="text-center">Dibuat pada</th>
        </tr>
      </thead>
    </table>
  </div>

  <!-- Modal Tweet Asli -->
  <!-- <div class="modal fade" tabindex="-1" id="modalLihatTweetAsli">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detail Tweet</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body mx-3">
          <h6 class="mb-2">Tweet Asli:</h6>
          <p id="tweetAsli"></p>
          <hr />
          <h6 class="mb-2">Case Folding:</h6>
          <p id="casefolding"></p>
          <hr />
          <h6 class="mb-2">Cleansing:</h6>
          <p id="cleansing"></p>
          <hr />
          <h6 class="mb-2">Slangword:</h6>
          <p id="slangword"></p>
          <hr />
          <h6 class="mb-2">Stopword:</h6>
          <p id="stopword"></p>
          <hr />
          <h6 class="mb-2">Stemming:</h6>
          <p id="stemming"></p>
          <hr />
          <h6 class="mb-2">Tweet Bersih:</h6>
          <p id="tweetBersih"></p>
        </div>
      </div>
    </div>
  </div> -->
</div>

{% endblock content %}
